@import url("./reset.css");

body {
  min-height: 100vh;
  background: 
    linear-gradient(135deg, rgba(10, 2, 25, 0.85), rgba(6, 12, 28, 0.85)),
    url("../media/bground.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}